.promociones-bancarias {
  background-color: #f2f2f2;
  border: 1px solid #ddd;
  padding: 20px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.btn-promociones {
  background-color: #4caf50;
  color: #fff;
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 5px;
  margin: 10px;
  border: none;
  cursor: pointer;
}