<main>
    <h2 class="text-center my-4 text-white ">Servicios</h2>
    <section class="servicios-container container-md flex-row flex-sm-wrap justify-content-sm-center">
      <article class="card-container">
        <div class="card">
          <img class="card-img-top" src="../../../assets/img/card_consulta.jpg" alt="Card imagen consultas veterinarias">
          <div class="card-body">
            <h5 class="card-title">Consultas</h5>
            <p class="card-text">Contamos con médicos veterinarios expertos en diferentes disciplinas y con la metodología necesaria para llegar a los diagnósticos que permitirán enfocar los tratamientos de manera eficiente y oportuna.</p>
          </div>
        </div>
      </article>
      <article class="card-container">
        <div class="card">
          <img class="card-img-top" src="../../../assets/img/card_peluqueria.jpg" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">Peluquería</h5>
            <p class="card-text">MyVet cuenta con expertos estilistas en el arreglo de todas las razas de perros y gatos, las mascotas son bañadas con agua caliente y los shampoo y jabones de la más alta calidad.</p>
          </div>
        </div>
      </article>
      <article class="card-container">
        <div class="card">
        <img class="card-img-top" src="../../../assets/img/card_guardia.jpg" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">Guardia 24hs</h5>
            <p class="card-text">Contamos con personal capacitado las 24 horas. Nuestro equipo y nuestra infraestructura nos permite darle a usted un servicio de excelencia de día y de noche, las 24 horas, los 365 días del año.</p>
          </div>
        </div>
      </article>
      <article class="card-container">
        <div class="card">
          <img class="card-img-top" src="../../../assets/img/card_diagnosticoPorImagenes.jpg" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">Diagnóstico por imágenes</h5>
            <p class="card-text"> MyVet cuenta con métodos de diagnósticos de alta calidad como son radiología de alta frecuencia, ecosonografía y endoscopía de fibra óptica. Contamos con los equipos más modernos en imagen como radiología digital que permite alta definición en imagen radiología y ultrasonografía con doppler y 3ra. dimensión.</p>
          </div>
        </div>
      </article>
      <article class="card-container">
        <div class="card">
          <img class="card-img-top" src="../../../assets/img/card_tienda.jpg" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">Tienda</h5>
            <p class="card-text">Ofrecemos una experiencia cómoda en las compras para tus mascotas. Podes comprar las 24hs desde tu smart phone o compu. Tenemos la mejor selección de productos que no se consiguen en cualquier pet shop. Contamos con la más amplia variedad en Alimento Balanceado, juguetes, accesorios y mucho más.</p>
          </div>
        </div>
      </article>
      <article class="card-container">
        <div class="card">
          <img class="card-img-top" src="../../../assets/img/card_especialidades.jpg" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">Especialidades</h5>
            <p class="card-text">En MyVet ofrecemos una asistencia completa y de calidad a tu mascota como medicina preventiva, análisis en laboratorio propio, imagenología, análisis de triquina, obstetricia y reproducción, medicina interna, dermatología, cirugia téjidos blandos, cirugía láser, hospitalización, estética</p>
          </div>
        </div>
      </article>
    </section>
</main>