<main>
    <div class="form_registro">
    <form action="?" method="post">
      <legend class="title">Iniciar Sesión</legend>
        <div class="inputContainer">
          <input type="email" class="input" name="user_mail" placeholder="a">
          <label for="mail" class="label">Correo electrónico:</label>
        </div>
        <div class="inputContainer">
          <input type="password" class="input" id="password1" name="user_password" minlength="6" maxlength="15" placeholder="a">
          <label for="password1" class="label">Contraseña:</label>
        </div>
        <input type="submit" value="Iniciar Sesión" class="btn_registro">
        <a href="">¿Olvidaste tu contraseña?</a>
    </form>
    </div>
  </main>