/*quienes somos*/

.quienes_somos{
  height: 550px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-bottom: 0px;
  padding: 0 10px;
  }
  
  .inner-container{
    min-width: 250px;
    position: relative;
    height: auto;
    width: 600px;
    background: transparent;
    border: 1px solid #fff;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
  }
  
  .inner-container:before{
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(144, 143, 143, 0.3);
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
  }
  
  .inner-container h1{
    margin-top: 20px;
    margin-bottom: 30px;
    text-align: center;
    font-size: 24px;
    font-weight: 1200;
    color: #ffffff;
  }
  
  .text{
    font-size: 16px;
    font-weight: 1200;
    color: #ffffff;
    line-height: 30px;
    text-align: center;
    margin-bottom: 30px;
    padding: 0 10px;
  }

  /*FOOTER*/

  .social-buttons{
    width: 100%;
    background-color: rgb(189, 188, 188,0.5);
  }

  .social-buttons .grupo-1{
    width: 100%;
    max-width: 1200px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 50px;
    padding: 45px 0 px;
  }

  .social-buttons .grupo-1 .box figure{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: left;
    align-items: center;
    margin-left: 20px;
  }

  .social-buttons .grupo-1 .box figure img{
    width: 60px;
  }

  .social-buttons .grupo-1 h2 {
    color : rgb(0, 0, 0);
    margin-bottom: 15px;
    font-size: 18px;
    text-align: center;
  }

  .red-social {
    text-align: right;
    
  }

  .social-buttons .grupo-1 .red-social a {
    display: inline-block;
    text-decoration: none;
    width: 40px;
    height: 40px;
    line-height: 45px;
    color: black;
    margin-right: 10px;
    margin-top: 20px;
    text-align: center;
    transition: all 300mx ease;
  }

  .social-buttons .grupo-1 .red-social a:hover{
    color: #d9f87d;
    
  }

  .social-buttons .grupo-2 {
    background-color:rgba(189, 188, 188, 0.507) ;
    padding: 15 px 10 px;
    text-align: center; 
    color: black
  }

  @media screen and (max-width:800px){
    .social-buttons .grupo-1{
      width: 100%;
      grid-template-columns: repeat(2, 1fr);
      grid-gap: 50px;
      padding: 45px 0 px;
    }
  }