<app-header></app-header>
<main class="quienes_somos">
    <div class="inner-container">
      <h1>Quienes Somos</h1>
      <p class="text">
        Somos una clínica de atención veterinaria integral ubicada en la ciudad de La Plata. Cuidamos a nuestros pacientes con un staff médico de destacada trayectoria profesional, cómodas instalaciones y equipamiento de última generación, priorizando su bienestar y el de sus familias humanas. Ofrecemos especialidades médicas y servicio de emergencia las 24 horas. Además, disponemos de accesorios de calidad, que están siempre disponibles en la tienda virtual. 
      </p>
    </div>
</main>
<app-footer></app-footer>