<nav class="navbar navbar-expand-lg bg-light">
  <div class="container-fluid">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item" (click)="filtrarPorCategoria('alimentos')">Alimentos</li>
        <li class="nav-item" (click)="filtrarPorCategoria('juguetes')">Juguetes</li>
        <li class="nav-item" (click)="filtrarPorCategoria('camas e indumentaria')">Camas e indumentaria</li>
        <li class="nav-item" (click)="filtrarPorCategoria('accesorios')">Accesorios</li>
        <li class="nav-item" (click)="filtrarPorCategoria('higiene y belleza')">Higiene y belleza</li>
        <li class="nav-item" (click)="filtrarPorCategoria('salud ')">Salud (pipetas/desparasitantes)</li>
        <li class="nav-item" (click)="filtrarPorCategoria('Casas y cuchas')">Casas y cuchas</li>
        <li class="nav-item" (click)="filtrarPorCategoria('bebederos y comederos')">Bebederos y comederos</li>
        <li class="nav-item" (click)="filtrarPorCategoria('peceras, acuarios y accesorios')">Peceras, acuarios y accesorios</li>
      </ul>
    </div>
  </div>
</nav>