.navbar{
    width: 100%;
    height: auto;
    background-color: white;
    display: flex;
    justify-content: center;
    align-content: center;
}

.navbar-nav{
    display: flex;
    justify-content: center;
    align-content: center;
    gap: 5px;
}

.nav-item{
    font-size: 15px;
    text-align: center;
    color: #050000;
    border: none;
    padding: 5px;
}

.nav-item:hover{
    color: rgb(21, 138, 40);
    border: 2px solid #d9f87d;
    transition: all .4s ease-in-out;
    cursor: pointer;
}

.ctg-container{
    justify-content: flex-start;
    align-content: center;   
}

.title-ctg{
    font-size: 1rem;
    padding: 5px;
    text-align: center;
    margin: 0;
}

@media (min-width: 992px){
    .title-ctg{
        display: none;
    }
}

@media (min-width: 1022px){
    .navbar-nav{
        justify-content: center;
        align-items: center;
        padding: 0 20px;
    }

    .navbar-collapse{
        justify-content: center;
    }
       
    
}