<nav class="navbar navbar-expand-lg bg-light">
  <div class="container-fluid">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">Alimentos</li>
        <li class="nav-item">Juguetes</li>
        <li class="nav-item">Camas e indumentaria</li>
        <li class="nav-item">Accesorios</li>
        <li class="nav-item">Higiene y belleza</li>
        <li class="nav-item">Salud (pipetas/desparasitantes)</li>
        <li class="nav-item">Casas y cuchas</li>
        <li class="nav-item">Bebederos y comederos</li>
        <li class="nav-item">Peceras, acuarios y accesorios</li>
        <li class="nav-item">Camas</li>
        <li class="nav-item">indumentaria</li>
        <li class="nav-item">Higiene y belleza</li>
        <li class="nav-item">Salud</li>
        <li class="nav-item">Casas</li>
        <li class="nav-item">Cuchas</li>
        <li class="nav-item">Bebederos</li>
        <li class="nav-item">Comederos</li>
        <li class="nav-item">Peceras</li>
        <li class="nav-item">Acuarios</li>
      </ul>
    </div>
  </div>
</nav>
