.header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 10px;
    width: 100%;
   
}
#logo {
    height: 100px; 
    width: 100px;
  }

nav {
    position: relative;
    z-index: 999;
}
  
  @media screen and (max-width: 576px) {
  
    .collapse-custom {
      position: absolute;
      top: 75%;
      right: 5px;
      background: rgba(63,56,72,1);
      width:150px;
    }
  
    .collapse-custom ul li {
      text-align: center;
    }
  }
  