<div class="header">
    <a routerLink="/"><img id="logo" src="../../../assets/img/LogoCorazon.png" alt="Logo App"></a>
    <!-- NavBar -->
    <nav class="navbar navbar-expand-sm" id="navColor">
      <div class="container-fluid">
        <button class="navbar-toggler collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon icon-color navbar-dark"></span>
        </button>

        <div class="navbar-collapse hidden collapse collapse-custom" id="navbarSupportedContent">
          <ul class="nav navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link text-white" routerLink="/">Inicio</a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-white" routerLink="/quienes-somos">Quienes somos</a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-white" routerLink="/servicios">Servicios</a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-white" routerLink="/sucursales">Sucursales</a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-white" routerLink="/petshop">Petshop</a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-white" routerLink="/contacto">Contacto</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
</div>
