<div id="carouselExampleIndicators" class="carousel carousel-dark slide" data-bs-ride="true">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="../../../assets/img/banner gatito.png" class="d-block w-100 personalizado" alt="promoción 30% descuento en vestimenta">
      </div>
      <div class="carousel-item">
        <img src="../../../assets/img/banner-paraellos.jpeg" class="d-block w-100 personalizado" alt="para ellos">
      </div>
      <div class="carousel-item">
        <img src="../../../assets/img/banner-animales felices.jpeg" class="d-block w-100 personalizado" alt="animales felices">
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
