.menu-vertical {
  position: absolute;
  top: 100px;
  right: 0;
  width: 200px;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 10px;
  z-index: 999;
}

.menu-vertical ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.menu-vertical li {  
  background-color: rgba(196, 241, 122, 0.849);
  border-radius: 5px;
  text-transform: uppercase;
  font-size: 14px;
  padding: 8px;
  margin-bottom: 5px;
  transition: background-color 0.3s ease;
  cursor:pointer;
}


.menu-vertical li:hover {
  background-color: #e0e0e0;
}

.menu-vertical a {
  display: block;
  text-decoration: none;
  color: #333;
  font-weight: normal; /* Cambiar el peso de fuente a normal */ 
}

