{% extends "productos/base.html" %}

{% block content %}
<table class="table table-borderless">
    <thead class="border-botton font-weight-bold">
       <tr>
        <td>nombre_producto</td>
        <td>descripcion</td>
        <td>precio</td>
        <td>marca</td>
        <td>categoria</td>
        <td>tipo_animal</td>
        <td>imagen_url</td>
       </tr> 
    </thead>
    <tbody>
        {% for producto in productos_list %}
            <tr>
                <td>{{producto.nombre_producto}}</td>
                <td>{{producto.descripcion}}</td>
                <td>{{producto.precio}}</td>
                <td>{{producto.marca}}</td>
                <td>{{producto.id_categoria}}</td>
                <td>{{producto.tipo_animal}}</td>
                <td>{{producto.imagen_url}}</td>
            </tr>
            
        {% endfor %}
    </tbody>
</table>
{% endblock content %}