/* You can add global styles to this file, and also import other style files */
body{
    background-image: url(assets/img/Main.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover; 
}
