<section class="btn_container_emerg">
  <button type="button" class="btn btn-danger btn-emergencia" (click)="llamarTelefono()">Emergencias</button>
</section>

  <footer class="bg-light text-center text-white footer-personalizado">
    <div class="logo-container">
      <a routerLink="/"><img src="../../../assets/img/logo_1_transparente.png" alt="logo de MyVet" class="logo"></a>
    </div>
    <div class="container pb-0">
      <section class="mb-4 icon-redes">
        <!-- Twitter -->
        <a
          class="btn text-white btn-floating m-1 btn-twitter"
          href="#!"
          role="button"
          ><i class="bi bi-twitter"></i></a>
        <!-- Google -->
        <a
          class="btn text-white btn-floating m-1 btn-google"
          href="#!"
          role="button"
          ><i class="bi bi-google"></i></a>
  
        <!-- Instagram -->
        <a
          class="btn text-white btn-floating m-1 btn-instagram"
          href="#!"
          role="button"
          ><i class="bi bi-instagram"></i></a>
  
        <!-- Linkedin -->
        <a
          class="btn text-white btn-floating m-1 btn-linkedin"
          href="#!"
          role="button"
          ><i class="bi bi-linkedin"></i></a>
        <!-- Github -->
        <a
          class="btn text-white btn-floating m-1 btn-github"
          href="#!"
          role="button"
          ><i class="bi bi-github"></i>
        </a>
      </section>
      <!-- Section: Social media -->
    </div>
      <!-- Copyright -->
  <div class="text-center p-3">
    © 2023 Copyright:
    <a class="text-white" routerLink="/">MyVet</a>
  </div>
  </footer>