footer{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
  }

  #emerg{
    display:none;
  
  }
  
  footer a{
    text-decoration: none;
    cursor: pointer;
  }
  footer a:hover{
    box-shadow:inset 0 0 20px rgba(255, 255, 255, .5), 0 0 20px rgba(255, 255, 255, .2) ;
    outline-color: rgba(255, 255, 255, 0);
    outline-offset: 15px;
    text-shadow: 1px 1px 2px #427388;
  }
  
  footer span{
    display: block;
    text-align:center;
  }

  #logo_emerg{
    width: 113px;
    height: 113px;
  }

  .logo {
    width: 80px;;
    height: 80px;


  }

  .btn-emergencia{
    height:50px ;
    width: 200px;
    font-size:20px;
  }
  
  
  @media screen and (min-width:577px){
    .btn-emergencia{
      display: none;
    }
  
    #emerg{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 120px;
      height:100%;
    }
  }