
<footer class="">
    <div id="emerg">
      <a target="_blank" class="text-dark">
        <img
          src="assets/img/emergencias.png"
          id="logo_emerg"
          alt="Contactar en caso de emergencia"/>
        <span class="h5">Emergencias</span>
      </a>
    </div>
    <button type="button" class="btn btn-danger btn-emergencia">Emergencias</button>
    <div class="social-buttons">
      <div class="grupo-1">
        <div class="box">
            <figure>
              <a href="#logo">
                <img src="./assets/img/logo-negro.png" class="logo" alt="Logo Myvet"/>
              </a>
            </figure>
        </div>
        <div class="box">           
            <div class="red-social">
              <a href="https://www.facebook.com" class="fa fa-facebook" target="_blank"></a>
              <a href="https://www.instagram.com" class="fa fa-instagram" target="_blank"></a>
              <a href="https://www.twitter.com" class="fa fa-twitter" target="_blank"></a>
            </div>
        </div>
      </div>
      <div class="grupo-2">
        <small> &copy; 2022 <b>MyVet</b> - Todos los Derechos Reservados.</small>
      </div>

    </div>

  </footer>