{% extends "authentication/base.html" %}

{% block content %}
    <h1>Registro de Usuario</h1>
    
    {% if error %}
        <p>Error: {{ error }}</p>
    {% endif %}
    
    <form method="post" class="mt-4">
        {% csrf_token %}
        <div class="mb-3">
            <label for="email" class="form-label">Email:</label>
            <input type="email" id="email" name="email" class="form-control" required>
        </div>
        <div class="mb-3">
            <label for="password" class="form-label">Contraseña:</label>
            <input type="password" id="password" name="password" class="form-control" required>
        </div>
        <div class="mb-3">
            <label for="first_name" class="form-label">Nombre:</label>
            <input type="text" id="first_name" name="first_name" class="form-control">
        </div>
        <div class="mb-3">
            <label for="last_name" class="form-label">Apellido:</label>
            <input type="text" id="last_name" name="last_name" class="form-control">
        </div>
        <div class="mb-3">
            <label for="telefono" class="form-label">Teléfono:</label>
            <input type="text" id="telefono" name="telefono" class="form-control">
        </div>
        <div class="mb-3">
            <label for="dni" class="form-label">DNI:</label>
            <input type="text" id="dni" name="dni" class="form-control">
        </div>
        <div class="mb-3">
            <label for="direccion" class="form-label">Dirección:</label>
            <input type="text" id="direccion" name="direccion" class="form-control">
        </div>
        <div>
            <input type="submit" value="Registrarse" class="btn btn-primary">
        </div>
    </form>
    
{% endblock content %}
