/*CONTACTO*/
/*Especifiqué todo por si se llega a usar el mismo archivo para estilizar otras páginas del sitio que usen form como el registro o el inicio de sesión.*/
.contacto {
    background: rgb(189, 188, 188,0.5);
    margin-top:3em;
    border-radius: 5px;
    font-family: 'Questrial', sans-serif;
  }
  
  .contacto input, select {
    height: 40px;
  }
  
  .contacto *{
    border-radius: 10px;
    padding-left: 10px;
  }
  
  .contacto div > *:not([type="submit"]) {
    border: 2px solid black;
    background: rgb(189, 188, 188,0.25);
  }
  
  .contacto textarea {
    padding-top:5px;
  }
  
  /*Esto es para que no se ponga de un color feo cuando se usa el autocompletado de Chrome, parece que no funciona usar transparencia*/
  .contacto input:-webkit-autofill,
  .contacto input:-webkit-autofill:hover,
  .contacto input:-webkit-autofill:focus,
  .contacto input:-webkit-autofill:active {
    box-shadow: 0 0 0 30px rgb(158, 156, 156) inset;
    -webkit-box-shadow: 0 0 0 30px rgb(158, 156, 156) inset !important;
  }
  
  .contacto input::placeholder, .contacto textarea::placeholder {
    color:black;
  }
  
  .contacto input:focus, textarea:focus {
    outline: none;
  }
  
  .btnSubmit {
    background: #d9f87d;
    border: none;
  }