*{
    margin: 0;
    background-image: url(../assets/img/Main.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

header {

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    position: relative;

}

#logo {

    width: 200px;
    height: 200px;

}

