<main class="d-flex justify-content-center align-items-center">
    <form id="contactForm" method="post" action="" class="contacto container overflow-hidden d-grid gap-3 px-4 py-4">
      <legend class="col-12 text-center">Contactanos</legend>

      <div class="d-flex flex-column flex-sm-row gap-2 px-2 justify-content-evenly">
        <div class="col-12 col-sm-6 inputSpanCtn">
          <input type="text" id="contact_name" class="contactInput" name="contact_name" placeholder="Nombre">
          <span class="warning">Complete su nombre</span>
        </div>
        <div class="col-12 col-sm-6 inputSpanCtn">
          <input type="text" id="contact_lastname" class="contactInput" name="contact_lastname" placeholder="Apellido">
          <span class="warning">Ingrese su apellido</span>
        </div>
      </div>

      <div class="d-flex flex-column flex-sm-row gap-2 px-2 justify-content-evenly">
        <div class="col-12 col-sm-6 inputSpanCtn">
          <input type="email" id="contact_email" class="contactInput" name="contact_email" placeholder="Mail">
          <span class="warning">Email inválido</span>
        </div>
        <div class="col-12 col-sm-6 inputSpanCtn">
          <input type="tel" id="contact_phone" class="contactInput" name="contact_phone" placeholder="Teléfono" maxlength="13">
          <span class="warning">Teléfono inválido</span>
        </div>
      </div>

      <div class="d-flex flex-column gx-4 gap-3 px-1 ">
        <select id="contact_species" class="contactInput" name="contact_species" class="col-12">
          <option selected>Especie</option>
          <option value="perro">Perro</option>
          <option value="gato">Gato</option>
          <option value="ave">Ave</option>
          <option value="roedor">Roedor</option>
          <option value="exoticos">Exóticos</option>
        </select>
        <div class="col-12 inputSpanCtn">
          <input type="text" id="contact_subject" class="contactInput" name="contact_subject" placeholder="Asunto">
          <span class="warning">Ingrese un asunto</span>
        </div>
        <div class="col-12 inputSpanCtn">
          <textarea id="contact_message" class="contactInput" name="contact_message"  rows="5" placeholder="Mensaje"></textarea>
          <span class="warning">Ingrese un mensaje</span>
        </div>
        
        <input type="submit" id="contactSubmit" class="btnSubmit" value="Enviar">
      </div>
    </form>
  </main>