main{
    display: flex;
    flex-direction: column;
    padding: 10px;
}

.titulo-perfil{
    background-color: rgba(196, 241, 122, 0.849);
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.titulo-perfil h1{
    font-size: 2rem;
    font-weight: 700;
}

.avatar{
    display: flex;
    margin: 10px;
    padding: 5px;
    align-items: center;
    gap: 15px;
}

.avatar-perfil{
    width: 100px;
    height: 100px;
    border-radius: 100%;
}

.cambiar-imagen{
    background-color:  rgb(27, 27, 170);
    color:#fff;
    width: 100px;
    border-radius: 20%;
    padding: 5px;
}

.cambiar-imagen:hover{
    cursor: pointer;
    background-color: #fff;
    color: rgb(27, 27, 170);
}

.form-perfil{
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}

.form-perfil form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.input-btn{
    display: flex;
    gap: 5px;
}

.volver-btn{
    margin-top: 20px;
}