<!-- NO SE USA POR AHORA -->

<!-- <form [formGroup]="formularioEnvio">
  <div>
    <label for="calle">Calle:</label>
    <input type="text" id="calle" formControlName="calle">
  </div>
  <div>
    <label for="altura">Altura:</label>
    <input type="text" id="altura" formControlName="altura">
  </div>
  <div>
    <label for="codigoPostal">Código Postal:</label>
    <input type="text" id="codigoPostal" formControlName="codigoPostal">
  </div>
  <div>
    <label for="barrio">Barrio:</label>
    <input type="text" id="barrio" formControlName="barrio">
  </div>
  <div>
    <label for="ciudad">Ciudad:</label>
    <input type="text" id="ciudad" formControlName="ciudad">
  </div>
  <div>
    <label for="observaciones">Observaciones:</label>
    <textarea id="observaciones" formControlName="observaciones"></textarea>
  </div>
  <div>
    <label for="localidad">Localidad:</label>
    <input type="text" id="localidad" formControlName="localidad">
  </div>
  <div>
    <label for="provincia">Provincia:</label>
    <input type="text" id="provincia" formControlName="provincia">
  </div> 
</form> -->