.categories-buscarAnimales{
    display: flex;
    height: 150px;
    width: 100%;
    background: #fff;
    
}
.carousel-flex{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%; 
    margin: 10px;
}
.card-container-wrapper{
    display: flex;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
    overscroll-behavior-x: contain;
    max-width: 100%;
    padding: 10px;
    margin: 10px;
}

.card-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 96px;
    height: auto;
    padding: 10px;
    scroll-snap-align: center;
    transition: 0.5s;
}
.card-img{
    width: 80px;
    height: auto;
    border-radius: 100%;
    margin-top: 10px;
}
.img-card{
    width: 100%;
    height: auto;
    border-radius: 100%;
}
.text-card{
    margin: 10px;
    font-size: 0.90rem;
    text-align: center;
}
.card-container:hover{
    transform: translateY(-10px);
}

@media screen and (max-width:374px){
   /*  .card-container-wrapper {
        margin-left: -10px;
        margin-right: -10px;
    } */
    .card-container {
        width: calc(100% - 20px);
    }
}

@media screen and (min-width: 375px) {
    .card-container-wrapper {
      justify-content: flex-start;
      padding-left: 0;
    }
  
    .card-container:first-child {
      margin-left: 20px;
    }
  
    .card-container:last-child {
      margin-right: 20px;
    }
}

@media screen and (min-width: 768px) {
    .card-container-wrapper{
        justify-content: space-between;
        width: 100%;
    }
   .card-container{
    width: auto;
    height: auto;
    padding: 0;
   }
}

@media screen and (min-width: 992px) {
    .card-container-wrapper{
        justify-content: space-between;
        padding: 10px;
    }
    .card-container{
        width: auto;
        height: auto;
    }
    .img-card{
        width: 100%;
        height: 100%;
    }
}