<section class="categories-buscarAnimales">
      <div class="carousel-flex">
         <div class="card-container">
            <div class="card-img">
               <img class="img-card" src="../../../assets/img/gato_buscarAnimales.jpg" alt="Gato">
            </div>
            <span class="text-card">GATOS</span>
         </div>
         <div class="card-container">
            <div class="card-img">
               <img class="img-card" src="../../../assets/img/perro2_buscarAnimales.jpg" alt="Perro">
            </div>
            <span class="text-card">PERRO</span>
         </div>
         <div class="card-container">
            <div class="card-img">
               <img class="img-card" src="../../../assets/img/peces_buscarAnimales.jpg" alt="Peces">
            </div>
            <span class="text-card">PECES</span>
         </div>
         <div class="card-container">
            <div class="card-img">
               <img class="img-card" src="../../../assets/img/aves_buscarAnimales.jpg" alt="Pájaro">
            </div>
            <span class="text-card">AVES</span>
         </div>
         <div class="card-container">
            <div class="card-img">
               <img class="img-card" src="../../../assets/img/hamster_buscarAnimal.jpg" alt="Hamster">
            </div>
            <span class="text-card">PEQUEÑOS</span>
         </div>
         <div class="card-container">
            <div class="card-img">
               <img class="img-card" src="../../../assets/img/exoticos_buscarAnimales.jpg" alt="Reptil">
            </div>
            <span class="text-card">EXÓTICOS</span>
         </div>
      </div>
</section>
