<footer>
        <div class="marca-footer">
          <a class="logo" routerLink="/"><img class="logo-footer" src="../../../assets/img/logo_1_transparente.png" alt="Logo MyVet"></a>
          <h2 class="title-footer">MyVet Petshop</h2>
        </div>
        <div class="footer-links">
          <ul class="footer-list-link">
            <li class="nav-item">
              <a class="nav-link" routerLink="/">Inicio</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="/quienes-somos">Quienes somos</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="/servicios">Servicios</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="/sucursales">Sucursales</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="/petshop">Petshop</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="/contacto">Contacto</a>
            </li>
          </ul>
        </div>
        <div class="icon-redes">
          <!-- Twitter -->
          <a class="btn text-white btn-floating m-1 btn-twitter" href="#!" role="button"><i class="bi bi-twitter"></i></a>
          <!-- Google -->
          <a class="btn text-white btn-floating m-1 btn-google" href="#!" role="button"><i class="bi bi-google"></i></a>   
          <!-- Instagram -->
          <a class="btn text-white btn-floating m-1 btn-instagram" href="#!" role="button"><i class="bi bi-instagram"></i></a>  
          <!-- Linkedin -->
          <a class="btn text-white btn-floating m-1 btn-linkedin" href="#!" role="button"><i class="bi bi-linkedin"></i></a>
          <!-- Github -->
          <a class="btn text-white btn-floating m-1 btn-github" href="#!" role="button"><i class="bi bi-github"></i></a>
        </div>
        <div class="text-center p-3">
          © 2023 MyVet
        </div>
</footer>