.producto {
  max-width: 100%;
  height: auto;
  padding: 15px 10px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  background-color: #fff;
  flex-wrap: wrap;
}

.imagenProducto {
  width: 40%;
  height: auto;
}

.imagenProducto img {
  max-width: 100%;
  height: auto;
}

.detalles {
  width: 70%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}


.info > * {
  padding: 10px 0;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-weight: 100;
}

.titulo-producto{
  font-size: 1.2rem;
  text-align: center;
}

.marca-producto {
  color: rgb(27, 27, 170);
  font-weight: 600;
  font-size: 18px;
}

.favorito, .deseado, .agregarAlCarrito {
  margin: 10px 0;
  height: 40px;
  width: 200px;
  background-color: #fff;
  border: 3px solid  rgb(27, 27, 170);
  color:  rgb(27, 27, 170);
  border-radius: 10px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 16px;
  font-weight: bolder;
}

.agregarAlCarrito {
  background-color:  rgb(27, 27, 170);
  color:#fff;
}
.agregarAlCarrito:hover{
  cursor: pointer;
  background-color: rgba(196, 241, 122, 0.849);
  border: 2px solid #000;
}

.elegirCantidad {
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 10px;
}

.menos, .mas {
  width: 30px;
  height: 30px;
  border-radius: 5px;
  border: 2px solid  rgb(27, 27, 170);
  background-color: #fff;
  font-size: 16px;
  font-weight: 600;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.elegirCantidad span {
  font-size: 16px;
  font-weight: 600;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.card-container{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 15px;
  padding: 20px;
}

.btn-volver{
  width: 60px;
  height: 60px;
  border-radius: 100%;
  margin: 10px;
  background-color:  rgb(27, 27, 170);
  color:#fff;
}

.agregado {
  background-color: rgb(27, 27, 170);
  color: #fff;
}

.desconectado {
  border: 2px solid grey;
}

.disabled {
  background-color: grey;
  border: none;
  color:black;
}

@media (min-width: 400px){
  .imagenProducto{
    width: 60%;
  }
}

@media (min-width: 768px){
  .card-container{
    flex-wrap: wrap;

  }
}

@media (min-width: 820px){
  .producto{
    padding: 20px 10px;
  }
  .imagenProducto{
    width: 40%;
  }
}

@media (max-width: 1050px) {
  .imagenProducto img {
    max-width: 100%;
    height: auto;
    max-height: 300px; /* Ajusta este valor según tus necesidades */
  }
}