<div class="producto">
    <div class="imagenProducto"><img [src]="objetoProducto.imagen_url" [alt]="objetoProducto.nombre_producto"></div>
    <div class="detalles">
        <div class="info">
            <h2>{{ objetoProducto.nombre_producto }}</h2>
            <p>{{objetoProducto.descripcion}}</p>
            <h3>{{objetoProducto.marca}}</h3>
            <h3>{{objetoProducto.precio | currency}}</h3>
        </div>

        <button class="favorito">Agregar a favoritos</button><button class="deseado">Producto deseado</button>

        <div class="elegirCantidad">
            <button class="menos">-</button>
            <div><span>2</span></div>
            <button class="mas">+</button>
        </div>

        <button class="agregarAlCarrito">Agregar al carrito</button>

    </div>
</div>