<section class="volver-btn">
    <button class="btn btn-primary" routerLink="/petshop"><i class="bi bi-arrow-left-circle"></i></button>
</section>
<section class="container-cart">
    <h1 class="title-cart">Mi Carrito </h1>
    <div class="container-items" *ngif="!contieneProducto">
        <h2 class="title-message">Tu carrito está vacío</h2>
        <div>
            <p class="info">¿No sabés qué comprar? ¡Miles de productos te esperan!</p>
        </div>
        <button type="button" class="btn btn-ofert btn-primary">Descrube ofertas</button><!--Me lleva al catalogo-->
    </div>
        <section class="compras" *ngFor="let producto of productosEnCarrito">
          <article class="card-product">
            <h2 class="title-product">{{ producto.nombre_producto }}</h2>
            <div class="img-container">
              <img class="img-product" [src]="producto.imagen_url" alt="">
              <div class="buton-quantity">
                <button class="remove-btn btn-primary" (click)="decrementQuantity()">-</button>
                <span class="quantity"><!-- {{ producto.cantidad }}-->0</span>
                <button class="add-btn btn-primary" (click)="incrementQuantity()">+</button>
              </div>
            </div>
            <div>
              <span class="price">{{ producto.precio | currency }}</span>
            </div>
            <button class="btn-delete" (click)="eliminarProducto(producto)">Eliminar</button>
          </article>
          <div class="container-price">
            <h3 class="tilte-total">Total con envío</h3>
            <span class="price-span"><!-- {{ calcularPrecioTotal() | currency }}-->Precio</span>
          </div>
          <button type="button" class="btn btn-continue btn-primary">Continuar con la compra</button> <!--Me lleva a la pasarela de pagos-->
        </section>
</section>

